<!-- 
  Create a new view that uses a map to display all the listings with the angular-google-maps library. 
  Each listing should be displayed as a marker. Each marker, when clicked on, should display a window that 
  provides the name, code, and address of the listing. 

  Some useful documentation: 
    https://angular-ui.github.io/angular-google-maps/#!/api/google-map
    https://angular-ui.github.io/angular-google-maps/#!/api/markers
    https://angular-ui.github.io/angular-google-maps/#!/api/windows
  -->
  <!-- 
  Create a new view that uses a map to display all the listings with the angular-google-maps library. 
  Each listing should be displayed as a marker. Each marker, when clicked on, should display a window that 
  provides the name, code, and address of the listing. 

  Some useful documentation: 
    https://angular-ui.github.io/angular-google-maps/#!/api/google-map
    https://angular-ui.github.io/angular-google-maps/#!/api/markers
    https://angular-ui.github.io/angular-google-maps/#!/api/windows
  -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2Eh0llhJjNLJUggWLNaDBJ6Mx-RtKJ80 &callback=myMap"></script>

<div ng-="listing" ng-controller="ListingsController">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" pan="true" options="options" bounds="map.bounds">
	
		
        <ui-gmap-markers ng-repeat="listings" idkey="'_id'" coords="'coordinates'" click="'onClick'" events			="listings.events">
				<ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            	</ui-gmap-windows>
		</ui-gmap-markers>



	

    </ui-gmap-google-map>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>



    <!-- other ui-gmap-directives here -->


